
<h2>Yaye, a match! Have fun!</h2>
<br>

<ul>
<li>Placeholder: Listing owner image here </li>
<li>Listing owner first_name: <%= @listing.user.first_name %></li>

<br>
<li>Placeholder: Participant image here</li>
<li>Participant first_name: <%= @participants.first.user.first_name %></li>

<br>
<li>Activity: <%= @meeting.listing.activity %></li>
<li>Offered_datetime_text: <%= @listing.offered_datetime_text %></li>
</ul>

<%= render 'chat_room', chat_room: @chat_room %>
