<div id="plan-detail">
  <div class="show-card-position">

    <div class="show-card">
      <div class="show-card-top-section">


        <div class="show-card-user">
          <% if listing.photo_exist? %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/mwahrlich", class: "show-card-image" %>
          <% else %>
          <%= image_tag listing.user.facebook_picture_url.gsub("square","large"), class: "show-card-image" %>
          <% end %>
        </div>
        <div class="show-card-top-section-infos">
          <div class="show-card-time">
            <%= listing.offered_datetime_text %>
          </div>

          <div class="show-card-activity">
            <%= listing.activity %>
          </div>
        </div>
      </div>

      <div class="show-card-info">

      </div>
      <div class="show-card-link">
        <% unless listing.owns_listing?(current_user) %>
        <%= button_to "Hang out!", listing_meetings_path(listing_id: listing.id, meeting: {status: "active"}), method: :post, class: "show-card-button" %>
        <% end %>

        <% if listing.owns_listing?(current_user) %>
        <%= button_to "Delete your plan", listing_path(listing), method: :delete, class: "show-card-button" %>
        <% end %>
        <br>
        <div class="back-btn">
          <%= link_to "dismiss", listings_path, class: "back-btn" %>
        </div>
      </div>

    </div>
  </div>
</div>
