<div class="profile_background">
  <div id="plan-listings">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <!-- Current user meetings -->
      <div class="panel-heading panel-heading-index" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="profile_sub_heading">
              <p><strong>Your currently active huddle:</strong></p>
            </div>
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="meeting-card-flex">
          <% @listings_participation.each do |listing| %>
          <% participants = Participant.where(meeting_id: listing.meetings.ids) %>
          <div id="<%= listing.id %>" class="plan">
            <div class="meeting-card current-user-meeting-card">
              <div class="meeting-card-user-avatars">

              <%= image_tag participants[0].user.facebook_picture_url, class: "meeting-card-avatar-current" %>
              <%= image_tag participants[1].user.facebook_picture_url, class: "meeting-card-avatar-user" %>

              </div>
              <div class="meeting-card-info">
                <div class="meeting-card-emoji-round">
                  <p class="meeting-card-emoji"><%= listing.activity %></p>
                </div>
                <p class="meeting-card-datetime"><%= listing.offered_datetime_text %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>


      <!-- Current user listings -->

        <div class="plan-card-flex">
          <% current_user.listings_without_match.each_with_index do |listing, index| %>
          <div id="<%= listing.id %>" class="plan">
            <div class="plan-card current-user-plan-card">

              <div class="plan-card-info">
                <div class="plan-card-emoji-round">
                  <p class="plan-card-emoji"><%= listing.activity %></p>
                </div>
                <p class="plan-card-datetime"><%= listing.offered_datetime_text %></p>
              </div>
            </div>
          </div>
          <% end %>
          <div class="plan">
            <div class="plan-card-add">
              <div class="plan-card-info">
                <%= link_to new_listing_path, method: :get, remote: true do %>
                <i class="fa fa-plus-circle add-button-size" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Friends listings -->

      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="profile_sub_heading">
              <p><strong>Plans by friends!</strong></p>
            </div>
          </a>
        </h4>
      </div>

      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body panel-border-negative">
          <div class="plan-listings">
            <% @listings.each do |listing| %>
            <div id="<%= listing.id %>" class="plan">
              <% if listing.photo_exist? %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/mwahrlich", class: "img-cirlce" %>
              <% else %>
              <%= image_tag listing.user.facebook_picture_url.gsub("square","large") %>
              <% end %>
              <div class="plan-info">
                <p class="plan-user"><%= listing.user.first_name %></p>
                <p class="plan-emoji"><%= listing.activity %></p>
                <% time_difference = listing.offered_datetime - Time.now %>
                <% if time_difference < 1.hour %>
                <p class="plan-datetime"><%= "NOW" %></p>
                <% else %>
                <% hours_difference = (time_difference/3600).to_i %>
                <p class="plan-datetime"><%= "+" + hours_difference.to_s  + "h" %></p>
                <% end %>
                <div>
                  <%= image_tag ("Chevron_right.svg"), :class => "chevron-size" %>
                  <!-- <i class="fa fa-chevron-right chevron-color" aria-hidden="true"></i> -->
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="render-plan" class="margin-own-plan-offset">
  </div>

  <div id="render-add-plan" class="margin-own-plan-offset">
  </div>
</div>

<%= content_for :after_js do %>
<script>
  $(document).ready(function(){
    $(".plan").on("click", function(e){
      var listing_id = $(this).attr("id");
      $.ajax({
        type: "GET",
        url: "/listings/" + listing_id,
        contentType: 'application/json',
        dataType: 'script'
      });
    });

    // $(".add-plan-button").on("click", function(e){
    //   $.ajax({
    //     type: "GET",
    //     url: "/listings/new",
    //     contentType: 'application/json',
    //     dataType: 'script'
    //   });
    // });
  });
</script>
<% end %>
