<div class="index-wrapper">
  <div class="top-wrapper">
    <div class="row row-positioning row-styling">

      <% @listings %>

      <div class="col-xs-3 col-xs-offset-3">
        <div class="align">
          <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="align">
          <p><%= current_user.listings.last.activity %></p>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="align">
          <p><%= current_user.listings.last.offered_datetime_text %></p>
        </div>
      </div>
    </div>
  </div>

  <% @listings.each do |listing| %>

  <div class="row row-positioning row-styling">

    <div class="col-xs-3 col-xs-offset-3">
      <div class="align">
        <p><%= listing.user.first_name %></p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="align">
        <p><%= listing.activity %></p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="align">
        <p><%= listing.offered_datetime_text %></p>
      </div>
    </div>

  </div>
  <% end %>
</div>

