<div class="index-wrapper">

  <% content_for :navbar_title do %>
  Add/choose listing
  <% end %>

  <div class="plan-card-fixed">
    <div class="plan-card-flex">
      <% current_user.listings_without_match.each_with_index do |listing, index| %>
      <div id="<%= listing.id %>" class="plan">
        <div class="plan-card current-user-plan-card">

          <div class="plan-card-info">
            <div class="plan-card-emoji-round">
              <p class="plan-card-emoji"><%= listing.activity %></p>
            </div>
            <p class="plan-card-datetime"><%= listing.offered_datetime_text %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="plan-listings" class="plan-listings">
    <% @listings.each do |listing| %>

    <div id="<%= listing.id %>" class="plan">
      <% if listing.photo_exist? %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/mwahrlich", class: "img-cirlce" %>
      <% else %>
      <%= image_tag listing.user.facebook_picture_url.gsub("square","large") %>
      <% end %>
      <div class="plan-info">
        <p class="plan-user"><%= listing.user.first_name %></p>
        <p class="plan-emoji"><%= listing.activity %></p>
        <p class="plan-datetime"><%= listing.offered_datetime_text%></p>
        <i class="fa fa-info-circle chevron-color" aria-hidden="true"></i>
      </div>
    </div>
    <% end %>


    <div class="add-plan-button">
      <%= button_to "Create a plan", new_listing_path, method: :get, class: "show-card-button", remote: true %>
    </div>
  </div>

  <div id="render-plan">
  </div>

  <div id="render-add-plan">
  </div>

</div>

<%= content_for :after_js do %>
<script>
  $(document).ready(function(){
    $(".plan").on("click", function(e){
      var listing_id = $(this).attr("id");
      $.ajax({
        type: "GET",
        url: "/listings/" + listing_id,
        contentType: 'application/json',
        dataType: 'script'
      });
    });

    // $(".add-plan-button").on("click", function(e){
    //   $.ajax({
    //     type: "GET",
    //     url: "/listings/new",
    //     contentType: 'application/json',
    //     dataType: 'script'
    //   });
    // });
  });
</script>
<% end %>



