<div class="index-wrapper">


<div class="container form">
<%= link_to raw('<i class="pull-right btn btn-link fa fa-times-circle"></i>'), listings_path %>

  <%= simple_form_for(@listing) do |f| %>
    <%= f.error_notification %>


    <%= f.hidden_field :offered_datetime_text, value: @offered_datetime_text_options[0]  %>
    <%= f.hidden_field :activity, value: @activity_options[0]  %>


<br>
<br>

<div class="arrow text-center">
  <i class="fa fa-chevron-down"></i>
</div>

  <div class="selector offered_datetime_text_selector">
    <% @offered_datetime_text_options.each do |option| %>
      <div><%= option %></div>
    <% end %>
  </div>

<br>

<br>
<br>


<div class="arrow text-center">
  <i class="fa fa-chevron-down"></i>
</div>
  <div class="selector activity_selector">
    <% @activity_options.each do |option| %>
      <div><%= option %></div>
    <% end %>
  </div>



    <%= f.button :submit, "Go!" %>
  <% end %>


</div>

</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
$('.offered_datetime_text_selector').slick({
  centerMode: true,
  centerPadding: '6px',
  slidesToShow: 3,
  arrows: false,
  swipeToSlide: true
});

// On before DateTime change
$('.activity_selector').slick({
  centerMode: true,
  centerPadding: '10px',
  slidesToShow: 5,
  arrows: false,
  swipeToSlide: true,
  draggable: true,
  focusOnSelect: true,
  mobileFirst: true,
  waitForAnimate: false
});


// On before DateTime change
$('.offered_datetime_text_selector').on('beforeChange', function(event, slick, currentSlide, nextSlide){
  var offered_datetime_text_options = <%= @offered_datetime_text_options.to_json.html_safe %>
  $('#listing_offered_datetime_text').attr('value', offered_datetime_text_options[nextSlide]);


});

// On before Activity change
$('.activity_selector').on('beforeChange', function(event, slick, currentSlide, nextSlide){
  var activity_options = <%= @activity_options.to_json.html_safe %>
  $('#listing_activity').attr('value', activity_options[nextSlide]);
});


  <% end %>
<% end %>



