<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

  <%= f.input :offered_datetime_text, collection: [ "NOW", "+1h", "+2h", "TONIGHT"], prompt: "Select your time" %>
  <%= f.input :activity, collection: [ "Coffee", "Drinks", "Party", "Movies"], prompt: "Select your activity" %>


  <%= f.button :submit %>
<% end %>



<h1>Page with slick</h1>

<div class="scroller">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>

