<div class="profile_background">
  <div class="profile_headding">
    <h1><%= "Hi " + @user.first_name %></h1>
  </div>
  <% @user_friends.each do |friend| %>
  <% facebook_friend = User.find_by(uid: friend["id"]) %>
  <% facebook_friend_id = facebook_friend.id %>

  <% blacklist = Blacklist.where(user_id: @user.id).where(friend_id: facebook_friend_id).first %>

  <div class="friends_card <%= "blacklisted" if blacklist  %>">
    <div class="friend_photo_wrapper">
      <%= image_tag facebook_friend.facebook_picture_url.gsub("square","large"), class: "friend_photo" %>
    </div>
    <div class="friends_name">
      <p><%= friend["name"] %></p>
    </div>

    <div class="blacklist_button">
      <%= link_to "Blacklist", blacklists_path(friend_id: facebook_friend_id), method: :post unless blacklist  %>
    </div>

    <div class="blacklist_button">
      <%= link_to "Whitelist", blacklist_path(blacklist.id), method: :delete if blacklist %>
    </div>
  </div>
  <% end %>
</div>
